body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(211, 211, 222, 0.305);
    color: #322132d9;
    margin: 20px;
  }
img {
    width: 14%;
}
.title {
    color: #c02a6e8f;
    font-weight: 700;
    font-size: 17px;
}
.option:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color: #472e47c3;
    opacity: 0.8;
}
.answer-option {
    padding: 4px 8px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}
.correct_answer {
    color: #cf134fcf;
    text-decoration: underline;
}
.check {
    color: white;
    background-color: #c74d848f;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
}
.check:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    color: white;
    background-color: #c74d848f;
    opacity: 0.8;
} 
.check:active, 
.check:focus {
    background-color: #c74d848f !important; 
    color: white !important;
}
#result {
    color: #cf134fcf;
    font-size: 20px;
}
.selected {
    background-color: #604caf11;
    color:  #63426393;
    border-radius: 20px;
    width: 90%;
}      
.selectedCorrect {
    background-color: #4ab26628;
    color:  #30744793;
}   
.selectedWrong {
    background-color: #a20e222c;
    color:  #cf134fcf;
}   
@media screen and (max-width: 1000px) {
    img {
        width: 20%
    }
}
@media screen and (max-width: 700px) {
    img {
        width: 25%
    }
}
@media screen and (max-width: 500px) {
    img {
        width: 35%
    }
}
@media screen and (max-width: 350px) {
    img {
        width: 50%
    }
}